<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<div ng-controller="MarketplaceCtrl" id="marketplaceView" class="container" >
	<p>Marketplace</p>

	<!-- Outer market row -->
	<div class="row">
		<!-- Tabs for marketplace -->
		<div class="col-xs-12 marketTabs">
		<!-- 	<ul>
				<li ng-class="{activeTab : publicActive}" ng-click="publicActive = true; privateActive = false; myWidgActive = false">Private</li>
				<li ng-class="{activeTab : privateActive}" ng-click="publicActive = false ;privateActive = true;myWidgActive = false">My Widgets</li>
				<li ng-class="{activeTab : myWidgActive}" ng-click="publicActive = false ;privateActive = false;myWidgActive = true">My Bundles</li>
			</ul> -->

		<md-tabs class="md-accent" md-selected="data.selectedIndex">

			<md-tab id="tab1" aria-controls="tab1-content">
			Private
			</md-tab>

			<md-tab id="tab2" aria-controls="tab2-content" >
			My Volute Apps
			</md-tab>

			<md-tab id="tab3" aria-controls="tab3-content">
			My Bundles
			</md-tab>
		</md-tabs>
		</div>
		<!-- Main area marketplace -->
		<div class="col-xs-12 marketContent">
			<div class="col-xs-12 contentMarket">
				<ng-switch on="data.selectedIndex" class="tabpanel-container">

				<div id="publicMarket"  role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" class="velocity-opposites-transition-expandIn">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="typeOfMarket">Private Widgets</h3>

						</div>
					</div>

					<!--Search/Filter Bar -->
					<div class="row">
						<div class="col-sm-12">
							<select class="marketSelectFilter" ng-model="dropLevel1">
								<option value="Education">Education</option>
								<option value="HealthCare">HealthCare</option>
								<option value="Finance">Finance</option>
							</select>
									<select class="marketSelectFilter" ng-model="dropLevel2">
								<option value="1">Education</option>
								<option value="2">Education</option>
								<option value="3">Education</option>
							</select>
									<select class="marketSelectFilter" ng-model="dropLevel3">
								<option value="1">Education</option>
								<option value="2">Education</option>
								<option value="3">Education</option>
							</select>

							<div class="row filterBar">
								<div class="filterBy">
									Filter By
								</div>
								<div class="filterSearch">
									<md-text-float label="Name" ng-model="searchPrivate"></md-text-float>
									<!-- <md-text-float label="Industry" ng-model="searchPrivateInd"></md-text-float>
									<md-text-float label="Management Software" ng-model="searchPrivateMng"></md-text-float> -->
								</div>
							</div>
			
				
							<div class="row marketLargeArea">
								<p class="mainTitle">Results</p>
					
								<div class="marketMain">

									<div class="row" ng-repeat="item in marketItemsTest2 ">
										<div class="col-xs-12" ng-if="aloneNow($index)" >
											<div class="market_categories"><p ng-click="backToParent($index)"><i class="md-arrow-back" ng-if="levelTracker != 0"></i>{{item.name}}<md-tooltip ng-if="levelTracker != 0">Return to Categories</md-tooltip></p><p ng-if="levelTracker == 3" class="sub_sub"> {{item.subs[whichSub].name}}</p><span ng-click="viewAllSub1($index)">View All<md-tooltip>View all {{item.name}}</md-tooltip></span> <div class="clear"></div></div>
											<div class="row market_category_row">

												<!--Highest level 0 -->
												<div ng-if="levelTracker == 0" ng-repeat="subs in item.subs | filter:searchPrivate | filter:dropLevel1 | limitTo: sizeControl" class=" singleMarketItem velocity-opposites-transition-flipBounceYIn"
        data-velocity-opts="{ stagger: 20, duration: 500}" >	
													<div class="grid">
															
															<figure class="effect-hera">
															<img ng-src="assets/images/{{subs.img}}.jpg" alt="img01"/>
																<figcaption>
																	<h2>{{subs.name}} <br/><span>Bundle</span></h2>
																	<p>
																		<a href="#" ng-click="fullInfoBundle(subs)"><i class="md-info-outline"><md-tooltip>Full Info</md-tooltip></i></a>
																		<a href="#" ng-click="openBundle($index, $parent.$parent.$index)"><i class="md-launch"><md-tooltip>Open</md-tooltip></i></a>
																		<a href="#"><i class="md-grade"><md-tooltip>Save This</md-tooltip></i></a>
																		<a href="#"><i class="fa fa-tags"><md-tooltip>Tag1, Tag2, Tag3, Tag4</md-tooltip></i></a>
																	</p>
																</figcaption>			
															</figure>
													</div>
													<div class="clear"></div>
	
														<div class="bundletitle">{{subs.name}}</div>
														<div class="bundletitleSm">{{subs.name}}</div>
												
												</div>
												<!--Highest level 0 -->

												<!--Highest level 1 -->
												<div ng-if="levelTracker == 1" ng-repeat="subs in item.subs | filter:searchPrivate" class=" singleMarketItem velocity-opposites-transition-flipBounceYIn"
        data-velocity-opts="{ stagger: 20, duration: 500}" >	
													<div class="grid">
															
															<figure class="effect-hera">
															<img ng-src="assets/images/{{subs.img}}.jpg" alt="img01"/>
																<figcaption>
																	<h2>{{subs.name}} <br/><span>Bundle</span></h2>
																	<p>
																		<a href="#"><i class="fa fa-info-circle"></i></a>
																		<a href="#"><i class="fa fa-cloud-upload" ng-click="openBundle($index, $parent.$parent.$index)"></i></a>
																		<a href="#"><i class="fa fa-thumb-tack"></i></a>
																		<a href="#"><i class="fa fa-tags"></i></a>
																	</p>
																</figcaption>			
															</figure>
													</div>
													
							
														<div class="bundletitle">{{subs.name}}</div>
														<div class="bundletitleSm">{{subs.name}}</div>
												
												</div>
														<div ng-if="levelTracker == 2" ng-repeat="app in item.apps | filter:searchPrivate" class=" singleMarketItem velocity-opposites-transition-flipBounceYIn"
        data-velocity-opts="{ stagger: 20, duration: 500}" >	
													<div class="grid">
															
															<figure class="effect-hera">
															<img ng-src="assets/images/{{app.img}}.jpg" alt="img01"/>
																<figcaption>
																	<h2>{{app.name}} <br/><span>Bundle</span></h2>
																	<p>
																		<a href="#"><i class="fa fa-info-circle"></i></a>
																		<a href="#"><i class="fa fa-cloud-upload"></i></a>
																		<a href="#"><i class="md-get-app"></i></a>
																		<a href="#"><i class="fa fa-tags"></i></a>
																	</p>
																</figcaption>			
															</figure>
													</div>
													
							
														<div class="bundletitle">{{app.name}}</div>
														<div class="bundletitleSm">{{app.name}}</div>
												
												</div>
												<!--Highest level 1 -->

												<!-- level 2 -->
												<div ng-if="levelTracker == 3" ng-repeat="subs in item.subs[whichSub].subs | filter:searchPrivate" class=" singleMarketItem velocity-opposites-transition-flipBounceYIn"
        data-velocity-opts="{ stagger: 20, duration: 500}" >	
													<div class="grid">
															
															<figure class="effect-hera">
															<img ng-src="assets/images/{{subs.img}}.jpg" alt="img01"/>
																<figcaption>
																	<h2>{{subs.name}} <br/><span>Bundle</span></h2>
																	<p>
																		<a href="#"><i class="fa fa-info-circle"></i></a>
																		<a href="#"><i class="fa fa-cloud-upload"></i></a>
																		<a href="#"><i class="fa fa-thumb-tack"></i></a>
																		<a href="#"><i class="fa fa-tags"></i></a>
																	</p>
																</figcaption>			
															</figure>
													</div>
													
							
														<div class="bundletitle">{{subs.name}}</div>
														<div class="bundletitleSm">{{subs.name}}</div>
												
												</div>
														<div ng-if="levelTracker == 3" ng-repeat="app in item.subs[whichSub].apps | filter:searchPrivate" class=" singleMarketItem velocity-opposites-transition-flipBounceYIn"
        data-velocity-opts="{ stagger: 20, duration: 500}" >	
													<div class="grid">
															
															<figure class="effect-hera">
															<img ng-src="assets/images/{{app.img}}.jpg" alt="img01"/>
																<figcaption>
																	<h2>{{app.name}} <br/><span>Bundle</span></h2>
																	<p>
																		<a href="#"><i class="fa fa-info-circle"></i></a>
																		<a href="#"><i class="fa fa-cloud-upload"></i></a>
																		<a href="#"><i class="fa fa-thumb-tack"></i></a>
																		<a href="#"><i class="fa fa-tags"></i></a>
																	</p>
																</figcaption>			
															</figure>
													</div>
													
							
														<div class="bundletitle">{{app.name}}</div>
														<div class="bundletitleSm">{{app.name}}</div>
												
												</div>
												<!-- level 2 -->





											</div>
										</div>
									</div>

								</div>
								<div class="marketMain">

									
								</div>
							</div>
						</div>

					</div><!-- End Main Area -->

				</div>
				<!--Prviate Market -->
				<div id="privateMarket" role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" class="velocity-opposites-transition-expandIn">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="typeOfMarket">My Widgets</h3>
						</div>
					</div>

					<!--Search/Filter Bar -->
					<div class="row">
						<div class="col-sm-12 col-md-9">
							<div class="row filterBar">
								<div class="filterBy">
									Filter By
								</div>
								<div class="filterSearch">
									<md-text-float label="Title" ng-model="searchPrivate"></md-text-float>
								</div>
							</div>
					
							<div class="row marketLargeArea">
								<p class="mainTitle">Results</p>
		
								<div class="marketMain">
									<div class="row">
										<div class="col-xs-12">
											<div class="row">
														<div ng-repeat="item in marketItemsTest | filter:searchPrivate" class=" singleMarketItem velocity-opposites-transition-flipBounceYIn"
        data-velocity-opts="{ stagger: 20, duration: 500}">	
													<div class="grid">
															
															<figure class="effect-hera">
															<img ng-src="assets/images/{{item.img}}.jpg" alt="img01"/>
																<figcaption>
																	<h2>{{item.name}} <br/><span>Bundle</span></h2>
																	<p>
																		<a href="#"><i class="fa fa-info-circle"></i></a>
																		<a href="#" ng-click="addToSelect(item)"><i class="fa fa-check"></i></a>
																		<a href="#"><i class="fa fa-thumb-tack"></i></a>
																		<a href="#"><i class="fa fa-tags"></i></a>
																	</p>
																</figcaption>			
															</figure>
													</div>
													
														<div class="bundletitle">{{item.name}}</div>
														<div class="bundletitleSm">{{item.name}}</div>
												
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="marketMain">

									
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-3">
				<div class="row marketSidePanel">
	
					<div class="col-xs-12 bundleList">
				

					      <div class="row">
					      	<div class="col-xs-12 select_myApps">
					      		<h4>Selected Items</h4>
					      		<ul>
					      			<li ng-repeat="item in itemsForBuild" class="velocity-opposites-transition-slideUpIn">{{item.name}} <i class="md-delete" ng-click="removeBuildItem($index)"></i></li>
					      			<li ng-if="itemsForBuild.length == 0" class="velocity-opposites-transition-slideUpIn">None Selected</li>
					      		</ul>
					      		    <md-button ng-if="itemsForBuild.length"  class="md-raised">Build</md-button>
					      	</div>
					      </div>
					</div>
					</div><!-- End Main Area -->


				</div><!-- end Private -->
			</div>
			</div>

				<!-- My market -->
				<div id="myMarket" role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" class="velocity-opposites-transition-expandIn">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="typeOfMarket">My Bundles</h3>
						</div>
					</div>

					<!--Search/Filter Bar -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row filterBar">
								<div class="filterBy">
									Filter By
								</div>
								<div class="filterSearch">
									<md-text-float label="Title" ng-model="searchPrivate"></md-text-float>
								</div>
							</div>
						</div>
					</div><!--End Search/Filter Bar -->

					<!-- Main Area -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row marketLargeArea">
								<p class="mainTitle">Results</p>
								<div class="marketMain">
									<div class="row">
										<div class="col-xs-12">
											<div class="row">
														<div ng-repeat="item in marketItemsTest | filter:searchPrivate" class=" singleMarketItem velocity-opposites-transition-flipBounceYIn"
        data-velocity-opts="{ stagger: 20, duration: 500}">	
													<div class="grid">
															
															<figure class="effect-hera">
															<img ng-src="assets/images/{{item.img}}.jpg" alt="img01"/>
																<figcaption>
																	<h2>{{item.name}} <br/><span>Bundle</span></h2>
																	<p>
																		<a href="#"><i class="fa fa-info-circle"></i></a>
																		<a href="#"><i class="fa fa-cloud-upload"></i></a>
																		<a href="#"><i class="fa fa-thumb-tack"></i></a>
																		<a href="#"><i class="fa fa-tags"></i></a>
																	</p>
																</figcaption>			
															</figure>
													</div>
													
							
														<div class="bundletitle">{{item.name}}</div>
														<div class="bundletitleSm">{{item.name}}</div>
												
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div><!-- End Main Area -->

				</div><!-- end my market -->
			</ng-switch>
			</div><!-- end content markt -->

			
				</div>
			</div>

		</div>

	</div><!--end outer market row -->


</div>