<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<div ng-controller="MarketplaceCtrl" id="marketplaceView" class="container" >
	<p>Marketplace</p>

	<!-- Outer market row -->
	<div class="row">
		<!-- Tabs for marketplace -->
		<div class="col-xs-12 marketTabs">
		<!-- 	<ul>
				<li ng-class="{activeTab : publicActive}" ng-click="publicActive = true; privateActive = false; myWidgActive = false">Private</li>
				<li ng-class="{activeTab : privateActive}" ng-click="publicActive = false ;privateActive = true;myWidgActive = false">My Widgets</li>
				<li ng-class="{activeTab : myWidgActive}" ng-click="publicActive = false ;privateActive = false;myWidgActive = true">My Bundles</li>
			</ul> -->

		<md-tabs class="md-accent" md-selected="data.selectedIndex">

			<md-tab id="tab1" aria-controls="tab1-content">
			Private
			</md-tab>

			<md-tab id="tab2" aria-controls="tab2-content" >
			My Widgets
			</md-tab>

			<md-tab id="tab3" aria-controls="tab3-content">
			My Bundles
			</md-tab>
		</md-tabs>
		</div>
		<!-- Main area marketplace -->
		<div class="col-xs-12 marketContent">
			<div class="col-xs-12 col-md-9 contentMarket">
				<ng-switch on="data.selectedIndex" class="tabpanel-container">

				<div id="publicMarket"  role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" class="velocity-opposites-transition-expandIn">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="typeOfMarket">Private Widgets</h3>
						</div>
					</div>

					<!--Search/Filter Bar -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row filterBar">
								<div class="filterBy">
									Filter By
								</div>
								<div class="filterSearch">
									<md-text-float label="Name" ng-model="searchPrivate"></md-text-float>
									<!-- <md-text-float label="Industry" ng-model="searchPrivateInd"></md-text-float>
									<md-text-float label="Management Software" ng-model="searchPrivateMng"></md-text-float> -->
								</div>
							</div>
						</div>
					</div><!--End Search/Filter Bar -->

					<!-- Main Area -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row marketLargeArea">
								<p class="mainTitle">Results</p>
								<!-- <div class="marketFeature">
									<div class="row">
										<div class="featureLeft">
											<div class="featureLeftRow featureRowActive">
												Row1
											</div>
											<div class="featureLeftRow">
												Row2
											</div>	
											<div class="featureLeftRow">
												Row3
											</div>	
											<div class="featureLeftRow">
												Row4
											</div>		
										</div>
										<div class="featureRight">
											<h3 class="featureRightTitle">Title Here</h3>
											<span class="featureRightText">Text Here</span>
										</div>
									</div>
								</div> -->
					
								<div class="marketMain">
									<div class="row">
										<div class="col-xs-12">
											<div class="row">
												<div ng-repeat="item in marketItemsTest | filter:searchPrivate" class=" singleMarketItem velocity-opposites-transition-flipBounceYIn"
        data-velocity-opts="{ stagger: 20, duration: 500}">	
													<div class="grid">
															
															<figure class="effect-hera">
															<img ng-src="assets/images/{{item.img}}.jpg" alt="img01"/>
																<figcaption>
																	<h2>{{item.name}} <br/><span>Bundle</span></h2>
																	<p>
																		<a href="#"><i class="fa fa-info-circle"></i></a>
																		<a href="#"><i class="fa fa-cloud-upload"></i></a>
																		<a href="#"><i class="fa fa-thumb-tack"></i></a>
																		<a href="#"><i class="fa fa-tags"></i></a>
																	</p>
																</figcaption>			
															</figure>
													</div>
													
							
														<div class="bundletitle">{{item.name}}</div>
														<div class="bundletitleSm">{{item.name}}</div>
												
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="marketMain">

									
								</div>
							</div>
						</div>
					</div><!-- End Main Area -->

				</div>
				<!--Prviate Market -->
				<div id="privateMarket" role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" class="velocity-opposites-transition-expandIn">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="typeOfMarket">My Widgets</h3>
						</div>
					</div>

					<!--Search/Filter Bar -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row filterBar">
								<div class="filterBy">
									Filter By
								</div>
								<div class="filterSearch">
									<md-text-float label="Title" ng-model="searchPrivate"></md-text-float>
								</div>
							</div>
						</div>
					</div><!--End Search/Filter Bar -->

					<!-- Main Area -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row marketLargeArea">
								<p class="mainTitle">Results</p>
		
								<div class="marketMain">
									<div class="row">
										<div class="col-xs-12">
											<div class="row">
												<div ng-repeat="item in marketItems | filter:searchMy" class="col-xs-6 col-sm-4 col-md-2 singleMarketItem">
														<a ng-href="#/{{item.url}}"><div class="bundlePic"></div></a>
														<div class="bundletitle">{{item.name}}</div>
												
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="marketMain">

									
								</div>
							</div>
						</div>
					</div><!-- End Main Area -->


				</div><!-- end Private -->

				<!-- My market -->
				<div id="myMarket" role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" class="velocity-opposites-transition-expandIn">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="typeOfMarket">My Bundles</h3>
						</div>
					</div>

					<!--Search/Filter Bar -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row filterBar">
								<div class="filterBy">
									Filter By
								</div>
								<div class="filterSearch">
									<md-text-float label="Title" ng-model="searchPrivate"></md-text-float>
								</div>
							</div>
						</div>
					</div><!--End Search/Filter Bar -->

					<!-- Main Area -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row marketLargeArea">
								<p class="mainTitle">Results</p>
								<div class="marketMain">
									<div class="row">
										<div class="col-xs-12">
											<div class="row">
												<div ng-repeat="item in marketItems | filter:searchBundle" class="col-xs-6 col-sm-4 col-md-2 singleMarketItem">
													<a ng-href="#/{{item.url}}"><div class="bundlePic"></div></a>
													<div class="bundletitle">{{item.name}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- End Main Area -->

				</div><!-- end my market -->
			</ng-switch>
			</div><!-- end content markt -->

			<div class="col-xs-12 col-md-3">
				<div class="row marketSidePanel">
					<div class="col-xs-12 bundleSearch">
						<h3>Bundles</h3>
					</div>
					<div class="col-xs-12 bundleList">
						<div class="globalMenu" data-velocity-opts="{ duration: 1000 }">
					      <ul class="outerMenu">
					      <li ng-repeat="category in categoriess" ng-include="'menuTree.html'" ng-click="category.shown =! category.shown" class="velocity-opposites-transition-perspectiveDownIn" data-velocity-opts="{ stagger: 50 }" ng-class="{ 'active_menu' : category.shown }"> </li>
					      </ul> 
					      </div class="clear"></div>
					      </div>
					</div>
				</div>
			</div>

		</div>

	</div><!--end outer market row -->


</div>