<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="container">
  <div class="row">
    <p ng-show="isLoggedIn()">Welcome {{ getCurrentUser().name }}</p>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <div class="item gs-w" ng-class="widget.size" ng-repeat="widget in contentHere" packery-angular >
      <div class="flipper" ng-class="{ 'flipMe' : flipWidg }">
        <div class="front clickFlip" ng-style="{ 'background-color' : themeHere.bg }">

           <div class="handle">
            <h5 class="handleTitle" ng-class="{'handleTitleFlip' : openActions }">
              <span><span>{{$index + 1}} </span>{{widget.title}}</span>
              <nav class="handleActions" >
                <i ng-repeat="action in widget.actions | filter:filterActions" class="fa {{action}} velocity-opposites-transition-flipBounceYIn" ng-click="actionClicked()" data-velocity-opts="{ stagger: 100 }"></i>
              </nav>
            </h5>
          </div>

           <a href="#" class="hamburg cornerClean" ng-click="openActions =! openActions; filterActions = '' " ng-class="{'clickedCorner' : openActions}"><span></span></a>
           <div recompiler="widget.content"></div>
          <div class="frontFooter">
            <ul class="footerActions">
              <li><i class="fa fa-refresh flipCheck" ng-click="flipWidg = !flipWidg"></i></li>
              <li><i class="fa fa-wifi" ng-click="activateOffline($index, widget.title)" ng-show="trackSpace != 100"></i></li>
              <li><i class="fa fa-share-alt" ng-click="shareWidg($index)"></i></li>
              <li><i class="fa fa-cogs" ng-click="openShareModal(widget.title)"></i></li>
              <li><i class="fa fa-mobile" ng-click="nativeWidg($index)"></i></li>
            </ul>
          </div>  
        </div>
          <div class="back clickFlip" ng-click="flipWidg = !flipWidg">
        <h4 class="flipCheck"><i class="fa fa-refresh"></i></h4>
        </div>
      </div> 
    </div>
    <div class="clear"></div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Input With Sockets to DB</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>


<!-- <footer class="footer">
  <div class="container">
      <p>Volute</p>
      
  </div>
</footer> -->

