body 
	background: #ffffff
	font-family: 'proxima_nova_rgregular', sans-serif
	overflow-y: auto
	height: 100%
	width: 100%
	//background: url('/assets/images/bg2.png') repeat center

h1,h2,h3,h4,h5,h6
	font-family: 'futura_ltbook', sans-serif

*:focus 
	outline: 0

textarea:focus, input:focus
	outline: 0

.container
	@media screen and (min-width: 1200px)
		width: 90%


.view-container 
	position: relative

[ng-view] 
	position: absolute
	width: 100%

[ng-view].ng-leave 
	z-index: 0

[ng-view].ng-enter 
	z-index: 1


.marketTransitions.ng-leave 
	z-index: 0

.marketTransitions.ng-enter 
	z-index: 1

growl-notifications
	position: fixed
	top: 10px
	left: 10px
	width: 100%
	z-index: 1001

growl-notification
	padding: 15px 30px
	margin-bottom: 15px
	width: calc(100%  - 30px)
	background-color: rgba(42,45,50,0.85)
	color: #fff

.notifyHorn
	font-size: 20px
	padding-right: 10px

.notifyCheck
	font-size: 20px
	padding-right: 10px
	color: #9FFA16

.notifyWarn
	font-size: 20px
	padding-right: 10px
	color: #FC6753

.notifyClose
	float: right
	font-size: 20px


.locationTitle
	font-family: 'proxima_nova_rgregular', sans-serif

.loginTitle
	text-align: center

.loginScreen
	background: #f7f7f7 url(/assets/images/noise1.png) repeat center
	background-size: cover

.navWrap
	background: #f7f7f7 url(/assets/images/noise1.png) repeat center
	border-top: 1px solid #DBDBDB
	border-bottom: 1px solid #DBDBDB
	height: 75px

.navbar-default
	border: none

.navbar-brand
	color: #ea6060!important
	font-size: 40px
	margin-top: 10px
	font-family: 'proxima_nova_condensedlight', sans-serif


#navbar-main 
	padding: 15px 20px 0px 20px
	.active
		a
			font-weight: 300
			color: #fff
			background-color: #28282e

@media screen and (max-width: 767px)
	.navbar-nav 
		background: #f7f7f7 url(/assets/images/noise1.png) repeat center
		margin: 0
	#navbar-main 
		padding: 0



.text-muted
	padding: 22px
	color: #ea6060

.item
	height: 300px
	width: 24%
	@media screen and (max-width: 1450px)
		width: 32%
	@media screen and (max-width: 1100px)
		width: 49%
	@media screen and (max-width: 600px)
		width: 96%

.w1
	height: 610px
.w2
	height: 610px
.w3
	width: 49%
	@media screen and (max-width: 1450px)
		width: 65%
	@media screen and (max-width: 1100px)
		width: 99%
	@media screen and (max-width: 600px)
		width: 96%

.w5
	width: 49%
	height: 610px
	@media screen and (max-width: 1450px)
		width: 65%
	@media screen and (max-width: 1100px)
		width: 99%
	@media screen and (max-width: 600px)
		width: 96%

.wVideo
	height: 610px
	width: 99%

.videogular-container 
	width: 100%
	height: 320px
	margin: auto
	overflow: hidden


.grid-sizer
	width: 24%
	@media screen and (max-width: 1450px)
		width: 32%
	@media screen and (max-width: 1100px)
		width: 49%
	@media screen and (max-width: 600px)
		width: 96%

.gutter-sizer 
	width: 1%

.handle
	width: 100%
	height: 50px
	display: block
	background: #f7f7f7
	h5
		margin: 0
		color: #212121
		float: left
		width: 100%
		text-transform: uppercase
		padding: 15px
		height: 50px
		-webkit-perspective: 1000px
		-moz-perspective: 1000px
		perspective: 1000px
		backface-visibility:  hidden
		transform: translate3d(0,0,0)
	span
		span
			color: #ea6060
			font-family: 'Merriweather', serif
			font-weight: 300
			padding-right: 5px

.clear
	clear: both

.frontHeader
	width: 100%
	height: 40px
	float: left
	background-color: rgba(0,0,0, 0.2)
	h4
		color: #d5d5d5
		padding-left: 15px

.frontContent
	width: 100%
	background-color: #cacaca
	min-height: 209px
	float: left
	
.frontFooter
	width: 100%
	height: 40px
	position: absolute
	bottom: 0
	ul 
		list-style-type: none
		width: 100%
		li 
			float: right
			cursor: pointer
			padding: 0 10px
			i 
				font-size: 22px
				color: #878796
				transition: 0.5s all
			i:hover 
				text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

#marketplaceView
	.row
		margin-right: 0
		margin-left: 0

.profilePic
	width: 200px
	height: 200px
	margin: 0 auto
	background-color: #fff
	border-radius: 100px

.packery-sizer
	width: 360px
	height: 500px

.packery-object 
	width: 360px
	height: 500px

.darkMe 
	.front 
		background-color: #28282e
		.hamburg 
			span, span:before, span:after
				background-color: #fff
	.handle 
		background-color: #28282e
		h5
			color: #fff
			.handleActions
				i
					color: #fff

.nativeMode
	position: fixed
	height: 100%
	width: 100%
	background-color: #ea6060
	z-index: 1002
	.nativeTitle
		color: #fff
		text-align: center
		font-size: 90px
	.nativeClose
		color: #fff
		font-size: 50px


.shareModal
	.modal-content
		background-color: #28282e
		border-radius: 0
		color: #fff
		.modal-header
			color: #fff
			text-align: center
			border-bottom: none
			h3
				font-size: 42px
		.modal-footer
			border-top: none

.progress
	width: 350px

.globalNav
	position: fixed
	top: 10%
	left: 10%
	width: 200px
	height: 600px
	background-color: #fff

.publish_widg_selector
	width: 100%
	height: auto
	padding: 2%
	max-height: 600px
	overflow-y: auto
	.publish_widg_single
		float: left
		display: block
		width: 23%
		margin: 1%
		color: #28282e
		height: 75px
		background-color: #fff
