<div class="container profileContain">
    <div class="col-sm-12 col-md-3 profileLeftSide">
      <div class="profile_pic"></div>
      <div class="profileName">John Smithson</div>
      <p>Admin</p>
  <md-content style="width: 100%">
    <md-list>
      <md-item>
        <md-item-content>
          <div class="md-tile-content">
            <h3>User Status</h3>
            <h4>User Status</h4>
            <p>
              Notes on this
            </p>
          </div>
        </md-item-content>
      </md-item>

       <md-item>
        <md-item-content>
          <div class="md-tile-content">
            <h3>Last Logged in</h3>
            <h4>Last Logged in</h4>
            <p>
              Notes on this
            </p>
          </div>
        </md-item-content>
      </md-item>

      <md-item>
        <md-item-content>
          <div class="md-tile-content">
            <h3>Account Created </h3>
            <h4>Account Created</h4>
            <p>
              Notes on this
            </p>
          </div>
        </md-item-content>
      </md-item>

      <md-item>
        <md-item-content>
         <div class="md-tile-left">
              <i class="md-announcement"></i>
          </div>
          <div class="md-tile-content">
            <h3>Last Activity </h3>
            <h4>Last Activity </h4>
            <p>
              Notes on this
            </p>
          </div>
        </md-item-content>
      </md-item>

    </md-list>
  </md-content>



  </div>
   <div class="col-sm-12 col-md-9 profileRightSide">
        <md-tabs class="md-accent" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        General
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content" >
        User Management
      </md-tab>
      <md-tab id="tab3" aria-controls="tab3-content">
        Volute Customization
      </md-tab>
    </md-tabs>
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
      
          <div class="formHeader">
          My Information
        </div>
          <form>
          <div class="profileInfoForm">
              <md-text-float label="Title" ng-model="user.title"></md-text-float>
              <md-text-float label="Email" ng-model="user.email" type="email"></md-text-float>
              <md-text-float label="Company" ng-model="user.company" > </md-text-float>
              <md-text-float label="FirstName" ng-model="user.firstName"> </md-text-float>
              <md-text-float label="LastName" ng-model="user.lastName" class="long"> </md-text-float>
              <md-text-float label="Address" ng-model="user.address"> </md-text-float>
              <md-text-float label="City" ng-model="user.city"> </md-text-float>
              <md-text-float label="State" ng-model="user.state"> </md-text-float>
              <md-text-float label="Postal Code" ng-model="user.postalCode"> </md-text-float>
              <md-text-float label="Country" ng-model="user.country" > </md-text-float>
          </div>
          </form>
          <div class="clear"></div>

            <div class="formHeader">
          Business Contact
        </div>
          <form>
          <div class="profileInfoForm">
              <md-text-float label="Title" ng-model="user.title"></md-text-float>
              <md-text-float label="Email" ng-model="user.email" type="email"></md-text-float>
              <md-text-float label="Company" ng-model="user.company" > </md-text-float>
              <md-text-float label="FirstName" ng-model="user.firstName"> </md-text-float>
              <md-text-float label="LastName" ng-model="user.lastName" class="long"> </md-text-float>
              <md-text-float label="Address" ng-model="user.address"> </md-text-float>
              <md-text-float label="City" ng-model="user.city"> </md-text-float>
              <md-text-float label="State" ng-model="user.state"> </md-text-float>
              <md-text-float label="Postal Code" ng-model="user.postalCode"> </md-text-float>
              <md-text-float label="Country" ng-model="user.country" > </md-text-float>
          </div>
          </form>
          <div class="clear"></div>
            <div class="formHeader">
          Business Profile
        </div>
          <form>
          <div class="profileInfoForm">
              <md-text-float label="Title" ng-model="user.title"></md-text-float>
              <md-text-float label="Email" ng-model="user.email" type="email"></md-text-float>
              <md-text-float label="Company" ng-model="user.company" > </md-text-float>
              <md-text-float label="FirstName" ng-model="user.firstName"> </md-text-float>
              <md-text-float label="LastName" ng-model="user.lastName" class="long"> </md-text-float>
              <md-text-float label="Address" ng-model="user.address"> </md-text-float>
              <md-text-float label="City" ng-model="user.city"> </md-text-float>
              <md-text-float label="State" ng-model="user.state"> </md-text-float>
              <md-text-float label="Postal Code" ng-model="user.postalCode"> </md-text-float>
              <md-text-float label="Country" ng-model="user.country" > </md-text-float>
          </div>
          </form>
          <div class="clear"></div>
           <md-button class="md-raised">Save</md-button>
              <div class="formHeader">
          Manage Messages
        </div>
           <div class="activityWrapProfile">

           <div layout="column" flex layout-fill>
           
            <md-content style="height: 450px;">
    <section>
      <md-subheader class="md-primary">Unread Messages</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="message in messages">
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{message.face}}" class="face" alt="{{message.who}}">
            </div>
            <div class="md-tile-content">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-warn">Late Messages</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="message in messages">
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{message.face}}" class="face" alt="{{message.who}}">
            </div>
            <div class="md-tile-content">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
    <section>
      <md-subheader>Read Messages</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="message in messages">
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{message.face}}" class="face" alt="{{message.who}}">
            </div>
            <div class="md-tile-content">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-accent">Archived messages</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="message in messages">
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{message.face}}" class="face" alt="{{message.who}}">
            </div>
            <div class="md-tile-content">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
  </md-content>

           </div>
         </div>
        </div>
        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
              <div class="container">
              <div class="row">
              <div class="col-sm-12">
              <h3>Change Password</h3>
              </div>
              <div class="col-sm-12">
              <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

              <label>Current Password</label>

              <input type="password" name="password" class="form-control passInput" ng-model="user.oldPassword"
              mongoose-error/>
              <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
              </p>
            
              <label>New Password</label>

              <input type="password" name="newPassword" class="form-control passInput" ng-model="user.newPassword"
              ng-minlength="3"
              required/>
              <p class="help-block"
              ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
              Password must be at least 3 characters.
              </p>
              

              <p class="help-block"> {{ message }} </p>
              <md-button class="md-raised" type="submit">Save</md-button>
<!--               <button class="btn btn-lg btn-primary" type="submit">Save changes</button> -->
              </form>
              </div>
              </div>
              </div>

            <div class="container">
           <!--  <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users">
            <strong>{{user.name}}</strong><br>
            <span class="text-muted">{{user.email}}</span>
            <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            </li>
            </ul> -->

            <md-list>
              <md-item ng-repeat="item in users">
                <md-item-content>
                <div class="md-tile-left">
                <img ng-src="/assets/images/headSmall.jpg" class="face" alt="{{item.who}}">
                </div>
                <div class="md-tile-content">
                <h3>{{item.name}}</h3>
                <h4>{{item.email}}</h4>
                <p>
                {{item.name}}
                </p>
                 <i class="fa fa-trash pull-right" ng-click="delete(item)"></i>
                </div>
                </md-item-content>
              </md-item>
            </md-list>

            </div>
        </div>


        <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">
              <div class="container">
              <h3><i class="md-palette"></i>Theme Control</h3>
              <div class="row">
              <div class="col-sm-12">
              Theme controls here
              <md-radio-group ng-model="data.group1">
              <md-radio-button value="Apple" aria-label="Label 1">Theme 1</md-radio-button>
              <md-radio-button value="Banana"> Theme 2 </md-radio-button>
              <md-radio-button value="Mango" aria-label="Label 3">Theme 3</md-radio-button>
              </md-radio-group>
              <h3>
              RGB <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </h3>
              <div layout>
              <div flex="10" layout layout-align="center center">
              <span>R</span>
              </div>
              <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class="md-warn">
              </md-slider>
              <div flex="20" layout layout-align="center center">
              <input type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
              </div>
              </div>
              <div layout>
              <div flex="10" layout layout-align="center center">
              <span>G</span>
              </div>
              <md-slider flex ng-model="color.green" min="0" max="255" aria-label="green" id="green-slider" class="md-accent">
              </md-slider>
              <div flex="20" layout layout-align="center center">
              <input type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider">
              </div>
              </div>
              <div layout>
              <div flex="10" layout layout-align="center center">
              <span>B</span>
              </div>
              <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider">
              </md-slider>
              <div flex="20" layout layout-align="center center">
              <input type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
              </div>
              </div>


              </div>
              </div>


              </div>
        </div>
    </ng-switch>

	
  </div>

	

	

  <div class="container">



</div>

</div>


