<div class="container">
  <div class="row">
    <p ng-show="isLoggedIn()" style="float: left;" ng-click="openPublishMenu()"> Healthcare </p>
    <p ng-show="isLoggedIn()" style="float: right; padding-right: 17px">Welcome {{ getCurrentUser().name }}</p>
  </div>
 
</div>

<div class="container">

  <div class="row">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <!--start widget-->
    <div class="item gs-w" ng-class="widget.size" ng-repeat="widget in contentHereHealthcare" ng-if="widget.published" packery-angular >
      <div class="flipper" >
 
        <!-- Sides Start -->
        <div ng-repeat="side in widget.sides" ng-show="side.active" class="front" >

           <div class="handle">
            <h5 class="handleTitle" ng-class="{'handleTitleFlip' : openActions }">
              <span><span ng-show="side.sideIs == 'front'">{{$parent.$index + 1}} </span>{{side.title}}</span>
              <nav class="handleActions" ng-show="side.sideIs == 'front'">
                <i ng-repeat="action in widget.actions" class="{{action}}" ng-click="actionClicked()" ></i>
              </nav>
            </h5>
          </div>

           <a href="#" class="hamburg cornerClean" ng-click="openActions =! openActions" ng-class="{'clickedCorner' : openActions}" ng-show="side.sideIs == 'front'"><span></span></a>
           <div recompiler="side.content" ng-class="{'video_sizer' : side.title == 'Training Video'}">{{side.content}}</div>
          <div class="frontFooter">
            <ul class="footerActions" >
              <!-- help actions -->
              <li ng-show="side.sideIs == 'help'"><i class="mdi-keyboard-return" ng-click="flipHelpBack($index, $parent.$index)"></i></li>
              <!-- end help actions -->

              <!-- front actions -->
              <li ng-show="side.sideIs == 'front'"><i class="mdi-help" ng-click="flipHelp($index, $parent.$index)" > <md-tooltip>Turn For Help</md-tooltip></i></li>
              <li ng-show="side.sideIs == 'front'"><i class="fa fa-wifi" ng-click="activateOffline($parent.$index, widget.title)"><md-tooltip >Offline Mode</md-tooltip></i></li>
              <li ng-show="side.sideIs == 'front'"><i class="mdi-share" ng-click="openShareModal(widget.name, widget)"><md-tooltip>Share</md-tooltip></i></li>
              <li ng-show="side.sideIs == 'front'"><i class="mdi-launch" ><md-tooltip>Launch</md-tooltip></i></li>
              <li ng-show="side.sideIs == 'front'"><i class="mdi-phone-iphone" ng-click="nativeWidgHealth($parent.$index)"><md-tooltip>Launch Widget in native mode</md-tooltip></i></li>
              <!-- end front actions -->

                <!-- multi side actions -->
                <li ng-show="widget.sides.length > 2 && side.sideIs != 'help'" class="flipItems"><i class="mdi-chevron-left" ng-click="flipSideLeft($index, $parent.$index)"></i></li>
               <li ng-show="widget.sides.length > 2  && side.sideIs != 'help'" class="flipItems"><i class="mdi-chevron-right" ng-click="flipSideRight($index, $parent.$index)"></i></li>
              <!-- end multi side acitons -->

            </ul>
          </div>  
        </div>
        <!-- Sides End -->

      </div> 
    </div>
    <!-- end widget -->


    <div class="clear"></div>
  </div>
</div>